build/
install/
out/
cmake-build-*/
CMakeFiles/

.vs/
.vscode/*.log
.idea/
*.suo
*.user
*.sln
*.vcxproj*
CMakeSettings.json
CMakeUserPresets.json
CMakeCache.txt

*.obj
*.o
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.log
compile_commands.json
moc_*
qrc_*
ui_*

Thumbs.db
desktop.ini
.DS_Store

vcpkg_installed/
